PORT=3000

MONGODB_USER=syavaopryshko
MONGODB_PASSWORD=qwerty12345
MONGODB_URI=mongodb+srv://syavaopryshko:<db_password>@cluster0.2d8g6.mongodb.net/<database_name>?retryWrites=true&w=majority
MONGODB_DB=nodejs_hw